<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>categories</title>
    <link rel="stylesheet" href="nav.css" />
  </head>
  <body>
    <div class="main">
      <%- include("./partials/nav.ejs") %>
      <br /><br />
      <% if(section == "addProduct") { %> <%-
      include("./partials/addProduct.ejs") %> <% } else if(section ==
      "products") { %> <%- include("./partials/products.ejs") %> <% } %>
    </div>
    <script>
      function fun(e) {
        document.location = "/categories/<%= categoryId %>/add";
      }
    </script>
  </body>
</html>
